.fieldset > .legend {
    background: transparent;
    padding-bottom: 0;
}

form[data-edit=false] .on-edit,
form[data-edit=false] [data-action=save_and_close],
form[data-edit=false] [data-upload] {
    display: none;
}

.go-top {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    color: #FFFFFF;
    font-size: 11px;
    position: absolute;
    top: 150px;
    text-align: center;
    left: 0;
    -webkit-transition: .5s Ease;
    -moz-transition: .5s Ease;
    -o-transition: .5s Ease;
    transition: .5s Ease;
    visibility: hidden;
    opacity: .9;
    width: 151px;
}

.delete-photo {
    background-color: rgba(0,0,0,0.5);
    color: #FFFFFF;
    position: absolute;
    top: 0;
    width: 19px;
    height: 23px;
    text-align: center;
    right: 0;
    visibility: hidden;
    opacity: .9;
}

.upload-photo-wrapper:hover .go-top {
    visibility: visible;
    top: 60px;
}

.upload-photo-wrapper:hover .delete-photo {
    visibility: visible;
}

.upload-photo-wrapper * {
    cursor: pointer;
}
