# Compiled source #
###################
*.class

# Application resources #
#########################
/resources/config.properties
/tmp/
/webapps/*/reports/templates/*.jasper

# Idea resources #
##################
.idea
*.iml
/out/
/.svn/
# Logs #
########
*.log
/logs/
/bin/
/.settings/
/.classpath
/.project
#
node_modules/
