.fieldset > .legend {
    background: transparent;
    padding-bottom: 0;
}

form[data-edit=false] .on-edit,
form[data-edit=false] [data-action=save_and_close],
form[data-edit=false] [data-upload] {
    display: none;
}

.ul-category{
    padding:5px 0 0 0;
}


.ul-category  li{
    padding-top:4px;
}

label {
    font-weight: normal;
    vertical-align: middle;
    margin: 0 0 2px .3em;
}

#custom_category_input{
    margin-left:.3em;
}