:host-context() /deep/ .employee-form {
    display: flex;
    flex-wrap: wrap;
}

:host-context() /deep/ .fieldset-user-fields {
    max-width: 100%;
    width: 600px;
}

:host-context() /deep/ .fieldset-user-avatar {
    display: block;
    max-width: 100%;
    text-align: center;
    width: 300px;
}

:host-context() /deep/ .fieldset-user-avatar .form-group {
    border: 0;
}

:host-context() /deep/ .fieldset-user-avatar .attachments {
    border: 0;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
}

:host-context() /deep/ .fieldset-user-avatar .attachment-list {
    order: -1;
}

:host-context() /deep/ .fieldset-user-avatar .attachment-list .attachment-list__item {
    width: 100%;
}

:host-context() /deep/ .fieldset-user-avatar .attachment__head {
    height: auto;
    position: absolute;
    right: 0;
}

:host-context() /deep/ .fieldset-user-avatar .attachment {
    max-width: none;
}

:host-context() /deep/ .fieldset-user-avatar .attachment__link {
    display: none;
}

:host-context() /deep/ .fieldset-user-avatar .attachments .attachment__thumb {
    height: 160px;
    max-height: 100%;
    width: 100%;
}

:host-context() /deep/ .fieldset-user-avatar .attachment-upload {
    margin: 0;
}

:host-context() /deep/ .fieldset-user-avatar .btn.btn-upload {
    width: 100%;
}

:host-context() /deep/ .fieldset-user-avatar .attachment .btn-remove {
    background: transparent;
}

:host-context() /deep/ .fieldset-user-avatar .control-label {
    display: none;
}

:host-context() /deep/ .fieldset-user-avatar .controls {
    margin: 0 !important;
}

:host-context() /deep/ .fieldset-user-fields {
    display: block;
}

@media (min-width: 769px) {
    :host-context() /deep/ .fieldset-user-avatar {
        order: 2;
    }
}

@media (max-width: 768px) {
    :host-context() /deep/ .employee-form {
        justify-content: center;
    }
}
