<form class="form" autocomplete="off" *ngIf="isReady">
    <div class="content-actions">
        <nb-toolbar [actions]="actions" (action)="onAction($event)"></nb-toolbar>
    </div>
    <header class="content-header">
        <h1 class="header-title">{{title | translate}}</h1>
    </header>
    <section class="content-body">
        <div class="fieldset">
            <div class="form-group">
                <div class="control-label">
                    {{'name' | translate}}
                </div>
                <div class="controls" [class.has-error]="errors.name">
                    <select class="span8" name="name" [disabled]="!isEditable" [(ngModel)]="model.name">
                        <option value=""></option>
                        <option [value]="t" *ngFor="let t of data.roles">{{t}}</option>
                    </select>
                    <error-message [error]="errors.name"></error-message>
                </div>
            </div>
        </div>
        <div class="fieldset">
            <div class="legend">{{'localized_names' | translate}}</div>
            <div class="form-group">
                <div class="controls">
                    <div class="form-group" *ngFor="let lang of languages | keyvalue">
                        <div class="control-label">{{lang.value}}</div>
                        <div class="controls">
                            <input class="span8" type="text" [name]="lang.key.toLowerCase() + 'locName'" [readonly]="!isEditable"
                                [(ngModel)]="model.locName[lang.key]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="content-footer">
        <nb-model-creation-details [model]="model"></nb-model-creation-details>
    </footer>
</form>
