.approval {
    /*padding: 8px;*/
}

.approval__actions {
    display: flex;
    margin-bottom: 8px;
}

.approval__block.is-new {
    border-left: 1px solid blue;
    margin-left: -1px;
}

.approval__block-approver {
    display: inline-block;
}

.b-toolbar__btn {
    margin: 0;
}

:host-context() /deep/ nb-select {
    width: 100%;
}

:host-context() /deep/ .input {
    background-color: transparent;
}

:host-context() /deep/ label {
    height: 100%;
    width: 100%;
}
