<form class="form" autocomplete="off" *ngIf="model">
    <div class="content-actions">
        <nb-toolbar [actions]="actions" (action)="onAction($event)"></nb-toolbar>
    </div>
    <header class="content-header">
        <h1 class="header-title">{{title | translate}}</h1>
    </header>
    <section class="content-body">
        <tabs>
            <tab tabTitle="{{'properties' | translate}}">
                <div class="fieldset">
                    <div class="form-group">
                        <div class="control-label">
                            {{'name' | translate}}
                        </div>
                        <div class="controls">
                            <input class="span8" name="name" [(ngModel)]="model.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'report_query_type' | translate}}
                        </div>
                        <div class="controls">
                            <select class="span8" name="reportQueryType" [(ngModel)]="model.reportQueryType">
                                <option [value]="t" *ngFor="let t of data.reportQueryType">{{t}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="model.reportQueryType === 'ENTITY_REQUEST'">
                        <div class="control-label">
                            {{'class_name' | translate}}
                        </div>
                        <div class="controls">
                            <select class="span8" name="className" [(ngModel)]="model.className">
                                <option [value]="t" *ngFor="let t of data.entityClassNames">{{t}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="model.reportQueryType === 'CUSTOM_CLASS'">
                        <div class="control-label">
                            {{'class_name' | translate}}
                        </div>
                        <div class="controls">
                            <select class="span8" name="className" [(ngModel)]="model.className">
                                <option [value]="t" *ngFor="let t of data.reportProfileClassNames">{{t}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'output_format' | translate}}
                        </div>
                        <div class="controls">
                            <select class="span2" name="outputFormat" [(ngModel)]="model.outputFormat">
                                <option [value]="t" *ngFor="let t of data.exportFormatType">{{t}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'start_from' | translate}}
                        </div>
                        <div class="controls">
                            <input class="span2" datepicker name="startFrom" [(ngModel)]="model.startFrom">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'end_until' | translate}}
                        </div>
                        <div class="controls">
                            <input class="span2" datepicker name="endUntil" [(ngModel)]="model.endUntil">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'tags' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.tags">
                            <nb-select class="span8 tags-input" name="tags" [disabled]="false" [searchable]="true"
                                [allowClear]="true" [multiple]="true" classKey="tag"
                                [styler]="tagStylerFn" [url]="REFERENCE_URL.API_TAGS + '?hidden=false'"
                                [(ngModel)]="model.tags">
                            </nb-select>
                            <error-message [error]="errors.tags"></error-message>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            {{'observers' | translate}}
                        </div>
                        <div class="controls" [class.has-error]="errors.observers">
                            <nb-observers-input [model]="model" [disabled]="false"></nb-observers-input>
                            <error-message [error]="errors.observers"></error-message>
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="legend">{{'localized_names' | translate}}</div>
                    <div class="form-group">
                        <div class="controls">
                            <div *ngFor="let lang of data.languages">
                                <div class="form-group">
                                    <div class="control-label">{{lang | localizedName}}</div>
                                    <div class="controls">
                                        <input class="span8" type="text" [name]="lang.code.toLowerCase() + 'locName'" [readonly]="!model.editable"
                                            [(ngModel)]="model.locName[lang.code]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab tabTitle="{{'localized_descriptions' | translate}}">
                <div class="fieldset">
                    <div class="form-group">
                        <div class="controls">
                            <div *ngFor="let lang of data.languages">
                                <div class="form-group">
                                    <div class="control-label">{{lang | localizedName}}</div>
                                    <div class="controls">
                                        <textarea class="span8" [name]="lang.code.toLowerCase() + 'localizedDescr'" [readonly]="!model.editable"
                                            [(ngModel)]="model.localizedDescr[lang.code]"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabs>
    </section>
</form>
